#news {
    position: relative;
    top: -110px;
}

    #news h2 {
        color: #5E2799;
        font-family: 'OpenSans-Light';
        font-size: 48px;
        text-transform: uppercase;
        text-align: center;
    }

    #news hr {
        border: #FDE192 SOLID 8px;
        width: 200px;
        margin: 0 auto;
    }

    #news .thumbnails {
        margin-top: 20px;
    }

        #news .thumbnails h3 {
            color: #5E299A;
            font-size: 15px;
            font-family: 'OpenSans';
            font-weight: bold;
            margin-bottom: 0;
        }

        #news .thumbnails time {
            color: #A7A7A7;
            font-size: 15px;
            ont-family: 'OpenSans';
        }
