@{
    ViewBag.Title = "About";
}


<hr/>
<Label>
    Este é um projeto pensado e desenvolvido do zero pela turma de PWEB1(TURMA 2018/2), com o intuito de acompanhar o mercado na exploração do mundo do "Webcommerce".
</Label>

<center>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUSSRIPucKjsOaqeMmhJG7F08V6zOLY4raPQauqVS3fdjHCnYt" alt="erro" >
</center>
