@{
    ViewBag.Title = "Sobre";
}


<hr />
<Label>
    Este é um projeto pensado e desenvolvido do zero pela turma de Web 1 (2018/2), com o intuito de acompanhar o mercado na exploração do mundo do "Webcommerce". Turma esta que possui alunos guerreiros
    e dedicados ao projeto, que devido a isto, serão aprovados na disciplina pelo professor da mesma, Igor Vasconcelos, este que é o melhor professor dos cursos de computação da Universidade Tiradentes!
</Label>

<center>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUSSRIPucKjsOaqeMmhJG7F08V6zOLY4raPQauqVS3fdjHCnYt" alt="erro">
</center>


@**Plano de Fundo Temporário *@
<body background="https://mastermindblumenau.com.br/wp-content/uploads/2016/07/background-azul.jpg">
</body>
@**Plano de Fundo Temporário *@