@{
    ViewBag.Title = "Contato";
}
<hr/>

<address>
    Unit - Universidade Tiradentes<br />
    Av. Murilo Dantas, 300 - Farolândia, Aracaju - SE, 49032-490<br />
    <abbr title="Telefone:">P:</abbr>
    (79) 3218-2100
</address>

<address>
    <table class="table">
        <tr>
            <td>Suporte</td>
            <td>Contatos</td>
        </tr>
        <tr>
            <td>André Souza</td>
            <td>andre.souza@souunit.com.br</td>
        </tr>
        <tr>
            <td>Deivide Mateus</td>
            <td>deivide.mateus@souunit.com.br</td>
        </tr>
        <tr>
            <td>Luiz Fernando</td>
            <td>luiz.queiroz@souunit.com.br</td>
        </tr>
        <tr>
            <td>Matheus Gama</td>
            <td>matheus.gama@souunit.com.br</td>
        </tr>
        <tr>
            <td>Raffael de Castro</td>
            <td>raffael.castro@souunit.com.br</td>
        </tr>
        <tr>
            <td>Silas Teixeira</td>
            <td>silas.teixeira@souunit.com.br</td>
        </tr>
    </table>
</address>