
@{
    ViewBag.Title = "AccessDenied";
}
<body>
    <h2>Você não pode acessar essa página, talkey? </h2>
    <img width="315px" height="415px" src="https://img.itch.zone/aW1nLzE1NDI3MzUucG5n/original/XlQigV.png" />
    @*@<img src="https://thumbs.gfycat.com/UnlinedDeterminedGalapagostortoise-size_restricted.gif" />*@
</body>